<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/View/tooltip.css">
<style>
body {
  padding: 3rem;
  font-size: 16px;
}

textarea {
  width: 100%;
  min-height: 30rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

</style>
<head>
    <!--Navigation bar-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("nav.html", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
    </script>
    <!--end of Navigation bar-->
</head>

<body>
    <div class="container">
        <div id="nav-placeholder" style="height: 100px"></div>

        <main role="main" class="col-md-12">
            <div class="col-md-22">
                <br>
                Let's say you are interested in exploring the seed sequence: ACUGGC.
                <br>
                All you have to do is enter the sequence in the input text field, check the
                <br>
                relevant output boxes, and click "Search".
                <br><br>
                <img src="../static/pics/example_pics/example_entry.png">

                <br><br>
                the result:
                <br><br>
                <img src="../static/pics/example_pics/exmaple_graph.png">

                <br><br>

                for each relevant organism, hover the abbreviation (in this case: 'dno') to see full name and
                <br>
                number of matures containing the seed sequence you have entered:
                <br><br>
                <img src="../static/pics/example_pics/example_zoom_name.png">

                <br><br>

                By clicking on the abbreviation, you will be redirected to the wikipedia entry of the organism:
                <br><br>
                <img src="../static/pics/example_pics/example_wiki.png">

                <br><br>

                Download the graph as an SVG image by clicking the Download button.
                <br><br>
                <img src="../static/pics/example_pics/example_dwn.png">
                <br>
                (the download option exists for all output types)

            </div>


            <div class="col-md-12">
                <script src="https://d3js.org/d3.v4.min.js"></script>
            </div>
        </main>
    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner"></div>
    </footer>

    <script src="../static/ViewModel/main.js"></script>
</body>
</html>

<!---
<p> BioMIR <sup>&reg;</sup> Rina Galperin & Shachar Oren | BGU university | 2019 </p>
--->