<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/View/tooltip.css">
<style>
body {
  padding: 3rem;
  font-size: 16px;
}

textarea {
  width: 100%;
  min-height: 30rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

</style>
<head>
    <!--Navigation bar-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("nav.html", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
    </script>
    <!--end of Navigation bar-->
</head>

<body>
    <div class="container">
        <div id="nav-placeholder" style="height: 100px"></div>

        <main role="main" class="col-md-12">
            <div class="col-md-5">
                <br>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Enter seed family" aria-label="Recipient's username" aria-describedby="button-addon2" id="seed">
                  &nbsp;&nbsp;
                    <div>
                    <button class="btn btn-outline-secondary" type="button" id="seed_btn">Search</button>
                  </div>
                    &nbsp;&nbsp;
                    <!-- search TOOL TIP -->
                    <div class="help-tip">
                        <p><br>
                            Enter a 6 or 7 digit seed sequence or a family name
                            (for example: <font color="#375991">AACUAG</font> or <br> <font color="#375991">let-7-3p</font>)
                        </p>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <!-- choose one/more output type -->
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="json">&nbsp;&nbsp;JSON
                &nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="html">&nbsp;&nbsp;HTML
                &nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="csv">&nbsp;&nbsp;CSV
                &nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="newick">&nbsp;&nbsp;Phylogenetic Tree

                &nbsp;
                <!-- output types TOOL TIP -->
                <div class="help-tip">
                    <p><br>
                        Choose one or more output types, and click "Search"
                    </p>
                </div>
            </div>

            <!-- JSON output -->
            <br>
            <div class="col-md-7" id="jsonArea"  hidden="true">
                <textarea id="jsonTextArea" cols="30" rows="5" title=""></textarea>
                <br>
                <!-- save JSON output -->
                <button class="btn btn-outline-secondary" type="button" id="dwn_json_btn">Download</button>
            </div>

            <!-- GRAPH output -->
            <br>
            <div class="col-md-7" id="graphArea"  hidden="true">
            <script src="../static/ViewModel/graph.js"></script>
            </div>

            <!-- HTML output -->
            <br>
            <div class="col-md-7" id="htmlArea"  hidden="true">
                <textarea id="htmlTextArea" cols="30" rows="5" title=""></textarea>
                <br>
                <!-- save JSON output -->
                <button class="btn btn-outline-secondary" type="button" id="dwn_html_btn">Download</button>
            </div>

            <!-- CSV output -->
            <br>
            <div class="col-md-7" id="csvArea"  hidden="true">
                <textarea id="csvTextArea" cols="30" rows="5" title=""></textarea>
                <br>
                <button class="btn btn-outline-secondary" type="button" id="dwn_csv_btn">Download</button>
            </div>

            <!-- Newick output -->
            <br>
            <div class="col-md-20" id="newickArea"  hidden="true">
                <div id="newickTextArea" title=""></div>
                <br>
                <button class="btn btn-outline-secondary" type="button" id="dwn_newick_btn">Download</button>
            </div>


            <div class="col-md-12">
                <script src="https://d3js.org/d3.v4.min.js"></script>
            </div>
        </main>
    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner"></div>
    </footer>

    <script src="../static/ViewModel/main.js"></script>
    <script type="module" src="../static/ViewModel/raphael.min.js"></script>
    <script type="module" src="../static/ViewModel/jsphylosvg-min.js"></script>
</body>
</html>

<!---
<p> BioMIR <sup>&reg;</sup> Rina Galperin & Shachar Oren | BGU university | 2019 </p>
--->