<!DOCTYPE html>
<html lang="en">
<head>
    <!--Navigation bar-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("nav.html", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
    </script>
    <!--end of Navigation bar-->
</head>

<body>
<div id="nav-placeholder"></div>
  <main role="main" class="inner cover">

     <br><br><br>
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter seed family" aria-label="Recipient's username" aria-describedby="button-addon2" id="seed">
  <div>
    <button class="btn btn-outline-secondary" type="button" id="seed_btn">Search</button>
  </div>
  </div>
      <div>
          <img width="500" height="500" id="graph-pic" src="../static/pics/tree.png" />
      </div>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    </div>
  </footer>

    <script src="../static/js/main.js"></script>
</body>
</html>

<!---
<p> BioMIR <sup>&reg;</sup> Rina Galperin & Shachar Oren | BGU university | 2019 </p>
--->