<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/View/tooltip.css">
<style>
body {
  padding: 3rem;
  font-size: 16px;
}

textarea {
  width: 100%;
  min-height: 30rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

</style>
<head>
    <!--Navigation bar-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("nav.html", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
    </script>
    <!--end of Navigation bar-->
</head>

<body>
    <div class="container">
        <div id="nav-placeholder" style="height: 100px"></div>

        <main role="main" class="col-md-25">
            <div class="col-md-25">
                <br>

                <h5><u>Sources:</u></h5>
                <img src="../static/pics/about_pics/4.png" height="110">
                <br>
                <img src="../static/pics/arrow.gif">
                <a href="http://www.mirbase.org" target="_blank">mirbase.org</a>, Version 22.0
                <br>
                We used the database files:
                <br>
                - <a href="ftp://mirbase.org/pub/mirbase/CURRENT/hairpin.fa.gz" target="_blank">hairpin.fa</a>
                (Fasta format sequences of all miRNA hairpins),
                <br>
                - <a href="ftp://mirbase.org/pub/mirbase/CURRENT/mature.fa.gz" target="_blank">mature.fa</a>
                (Fasta format sequences of all mature miRNA sequences) as the basis of our database.
                <br>
                - <a href="http://www.mirbase.org/cgi-bin/browse.pl" target="_blank">the structure of phylogenetic tree of Metazoa</a>
                <br>

                <br><br><br>

                <img src="../static/pics/about_pics/5.png" height="40">
                <br>
                <img src="../static/pics/arrow.gif">
                <a href="https://github.com/guyleonard/jsPhyloSVG" target="_blank">jsphylosvg.com</a>
                <br>
                We used their open-source javascript library to render the graph reports
                <br>
                using the recent XML schema definition specified for phylogenetic trees, phyloXML.
                <br><br><br>

                <img src="../static/pics/arrow.gif">
                <a href="https://sites.google.com/site/cmzmasek/home/software/forester/phyloxml-converter" target="_blank">
                    phyloXML converter by Christian Zmasek
                </a>
                <br>
                Java command line tool used to convert various phylogentic tree formats to phyloXML.

                <br><br><br>
                <h5><u>Developed by:</u></h5>
                miRSeedBase is managed by researchers at the SISE department at Ben-Gurion University of the Negev, Israel.
                <br>
                <img src="../static/pics/arrow.gif">
                link to home page: <a href="http://in.bgu.ac.il/en/engn/ise/Pages/default.aspx" target="_blank">here</a>
                <br>
                <img src="../static/pics/arrow.gif">
                Our open-source code can be found on GitHub: <a href="https://github.com/rinagalperin/rna_project" target="_blank">here</a>
            </div>


            <div class="col-md-12">
                <script src="https://d3js.org/d3.v4.min.js"></script>
            </div>
        </main>
    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner"></div>
    </footer>

    <script src="../static/ViewModel/main.js"></script>
</body>
</html>

<!---
<p> BioMIR <sup>&reg;</sup> Rina Galperin & Shachar Oren | BGU university | 2019 </p>
--->