<!DOCTYPE html>
<html lang="en">
<head>
    <!--Navigation bar-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("nav.html", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
    </script>
    <!--end of Navigation bar-->
</head>
 <div id="nav-placeholder"></div>
<body>
<div>
<main role="main" class="inner cover" align="center">
    <h1 class="cover-heading"></h1>
<br><br><br>
      <div>
          reports...
      </div>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    </div>
  </footer>

    <script src="../static/js/main.js"></script>
</div>
</body>
</html>